body {
  font-family: 'Lato', sans-serif;
}

h1 {
  margin-bottom: 0px;
  margin-top: 0px;
}

.agents {
    border-collapse: collapse;
    width:100%;

    /*height:60%;*/
}

table {
  margin: 0 auto;
}

table, th, td {
    border: 2px solid #333333;

}

tr {
  vertical-align: top;
}

th, td {
    padding: 15px;
    text-align: left;
}

footer {
  display: inline;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 85%;
}

.header-table {
    background-color: #61605A;
    color: white;
    height:10%;
}

.td-physicall {
  width:80%;
}

.circle {
  float: left;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #9d9c9c;
  margin-right: 10px;
}

.agent-datos {
  display: inline;
  vertical-align: top;
  padding-top: 2px;
  height: auto;
}

/*Tooltip speech*/
.web {
  font-size: 95%;
  font-weight: bold;
  margin-right: 20px
}

.status, .ip, .path {
  font-size: 90%;
  font-weight: bold;

}

.name-resource {
  margin-right: 3px;
}

.div-spans{
  display: inline-block;
}

.div-spans span {
  margin-right: 10px;
}

.denyClass{
  font-size: 100%;
  cursor: pointer;
}

.td-side-bar {
  width:20%;
  padding: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  vertical-align: top;
}

.td-side-bar b {
  font-size: 90%;
}

.td-side-bar p {
  font-size: 75%;
}

.title-tab {

}

nav {
  text-align: right;
  margin-right:2.5%;
  font-size: 80%;
}

#container {
  margin: 0 auto;
  align-items: center;
  /*min-width: 880px;*/
  max-width: 1260px;
  /*background-color: yellow;*/
}

.display-agents {
  padding-bottom: 14px;
  font-size: 100%;
}

.user-resources1 {
  border-radius: 10px;
  border: 2px solid #61605A;
  padding: 10px;
  width: 96%;
  height: auto;
  margin: auto;
  margin-bottom: 15px;
  padding-bottom: 13px;
  background-color: #C8E9B1;
}

.user-resources2 {
  border-radius: 10px;
  border: 2px solid #61605A;
  padding: 10px;
  width: 96%;
  height: auto;
  margin: auto;
  padding-bottom: 13px;
  margin-bottom: 15px;
  background-color: #fffbb9;
}

.deleteResource {
  background-color: #C8E9B1;
  border: 2px solid #9d9c9c;
  color: #9d9c9c;
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 0px;
  padding-bottom: 1px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 6.5px;
  font-weight: bold;
  /*margin: 4px 2px;*/
  cursor: pointer;
}

.specify-resources {
  cursor: pointer;

}

.denyClass {
  float: right;
}

.tooltip{
  font-size: 80%;
  margin-top: 3px;
  display: inline;
}

.tooltip .tooltiptext {
  position: absolute;
  width: 500px;
  height: 73px;
  padding: 10px;
  background: #E1EED1;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  border: #52341b solid 2px;
  visibility: hidden;
  margin-top: 30px;
}

.tooltip .tooltiptext:after {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 0 22px 25px;
  border-color: #E1EED1 transparent;
  display: block;
  width: 0;
  z-index: 1;
  margin-left: -22px;
  top: -25px;
  left: 16%;
}

.tooltip .tooltiptext:before{
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 0 23px 26px;
  border-color: #52341b transparent;
  display: block;
  width: 0;
  z-index: 0;
  margin-left: -23px;
  top: -28px;
  left: 16%;
}

.tooltip .show {
  visibility: visible;
}

.tooltiptext button {
  margin-right: 10px;
  border: 2px solid #4a4a4a;
  color: #000000;
  background-color: #e9e9e9;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 12px;
  padding: 3px 8px 3px 8px;
  cursor: pointer;
}

.tooltiptext button:hover {
  background-color: #ffffff;
}

.input {
  margin-bottom: 7px;
  margin-top: 7px;
}
/*
.tooltip .notshow {
    visibility: hidden;
}
*/
/*Pestañas*/
.hidden {
  display: none;
}

.pestanaGrup {
	display: none;
}

.pestanaGrup2 {
	display: none;
}

#pestanas1 {
  display: block;
  font-size: 100%;
  font-weight: bold;
  float: right;
  margin-bottom: 5px;

}

#pestanas1 label {
	background: #ffffff;  /* Fondo de las pestañas */
	border-radius: .55em .55em 0 0;
	color: #000000;  /* Color del texto de las pestañas */
	cursor: pointer;
	/*float: right 2px;*/ /* alinear pestañas a la derecha*/
  border: #000000 solid 2px;
	text-align: center;
  padding: 5px 10px;

}


#pestanas1 input:checked + label {
	background: #606060;  /* Fondo de las pestañas al presionar */
	color: #ffffff; /* Color de las pestañas al presionar */
	position: relative;
	z-index: 6;
  border-bottom: #61605A solid 2px;
}

#contenido {
	width: 100%;
	z-index: 5;
  /*margin-top: 5px;*/
}

#pestanasAgent {
  display: inline;
  font-size: 76%;
  margin-left: 10px;

}

#pestanasAgent label {
	background: #9d9c9c;  /* Fondo de las pestañas */
	border: 2px solid #333333;
	color: #000000;  /* Color del texto de las pestañas */
	cursor: pointer;
	/*float: right 2px;*/ /* alinear pestañas a la derecha*/
  border-radius: 18px;
	text-align: center;
  padding: 5px 10px;

}

#pestanasAgent input:hover + label:hover {
	background: #c8c8c8;  /* Fondo de las pestañas al pasar el cursor por encima */
	color: #000000;  /* Color del texto de las pestañas al pasar el cursor por encima */

}

#pestanasAgent input:checked + label {
	background: #d7d7d7;  /* Fondo de las pestañas al presionar */
	color: #000000; /* Color de las pestañas al presionar */
	position: relative;
	z-index: 6;
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.material-icons.md-18 {
  vertical-align: middle;
  font-size: 18px;
}
